<div class="d-none d-sm-block">
    <div>
        <button type="button" class="close" (click)="closeModel()"
        style="margin-right: 10px;outline: 0;color: black;cursor: pointer;">
        &times;
      </button>
      <div>
        <span style="font-size:1.75rem;margin-bottom: .5rem; font-weight: 500; line-height: 1.2;margin-top: 0;font-family: inherit;color: inherit;">Add Employee</span><br>
        <form [formGroup]="empForm">
            
            <mat-form-field style="width: 31%;">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Name" formControlName="name">
                <mat-error *ngIf="empForm?.controls['name'].hasError('required') || formSubmit">
                  Name is required
                </mat-error>
              </mat-form-field> &nbsp;&nbsp;&nbsp;
              <mat-form-field style="width: 31%;">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Username" formControlName="username">
                <mat-error *ngIf="empForm?.controls['username'].hasError('required') || formSubmit">
                  Username is required
                </mat-error>
              </mat-form-field>&nbsp;&nbsp;&nbsp;
              <mat-form-field style="width: 31%;">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="email">
                <mat-error *ngIf="empForm?.controls['email'].hasError('required') || formSubmit">
                  Email is required
                </mat-error>
              </mat-form-field>

              <mat-form-field style="width: 31%;">
                <mat-label>Phone</mat-label>
                <input matInput placeholder="Phone" formControlName="phone">
                <mat-error *ngIf="empForm?.controls['phone'].hasError('required') || formSubmit">
                    Phone no is required
                </mat-error>
              </mat-form-field> &nbsp;&nbsp;&nbsp;
              <mat-form-field style="width: 31%;">
                <mat-label>Website</mat-label>
                <input matInput placeholder="Website" formControlName="website">
                <mat-error *ngIf="empForm?.controls['website'].hasError('required') || formSubmit">
                  Website is required
                </mat-error>
              </mat-form-field>&nbsp;&nbsp;&nbsp;
              <br>
              <span class="textClass">
                  Address
              </span>
              <br>

              <mat-form-field style="width: 36%;">
                <mat-label>Street</mat-label>
                <input matInput placeholder="Street" formControlName="street">
                <mat-error *ngIf="empForm?.controls['street'].hasError('required') || formSubmit">
                    Street is required
                </mat-error>
              </mat-form-field> &nbsp;&nbsp;&nbsp;
              <mat-form-field style="width: 36%;">
                <mat-label>Suite</mat-label>
                <input matInput placeholder="Suite" formControlName="suite">
                <mat-error *ngIf="empForm?.controls['suite'].hasError('required') || formSubmit">
                    Suite is required
                </mat-error>
              </mat-form-field>
              <mat-form-field style="width: 36%;">
                <mat-label>City</mat-label>
                <input matInput placeholder="City" formControlName="city">
                <mat-error *ngIf="empForm?.controls['city'].hasError('required') || formSubmit">
                    City is required
                </mat-error>
              </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;

              <mat-form-field style="width: 36%;">
                <mat-label>Zip code</mat-label>
                <input matInput placeholder="Zip code" formControlName="zipcode">
                <mat-error *ngIf="empForm?.controls['zipcode'].hasError('required') || formSubmit">
                    Zip Code is required
                </mat-error>
              </mat-form-field>
              <br>
              <span class="textClass">
                Geographic Address
              </span>
              <br>
              <mat-form-field style="width: 36%;">
                <mat-label>Latitude</mat-label>
                <input matInput placeholder="Latitude" formControlName="lat">
                <mat-error *ngIf="empForm?.controls['lat'].hasError('required') || formSubmit">
                  Latitude is required
                </mat-error>
              </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;

              <mat-form-field style="width: 36%;">
                <mat-label>Longitude</mat-label>
                <input matInput placeholder="Longitude" formControlName="lng">
                <mat-error *ngIf="empForm?.controls['lng'].hasError('required') || formSubmit">
                    Longitude is required
                </mat-error>
              </mat-form-field> 

              <br>
              <span class="textClass">
                Company Details
              </span>
              <br>
              <mat-form-field style="width: 31%;">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Name" formControlName="cname">
                <mat-error *ngIf="empForm?.controls['cname'].hasError('required') || formSubmit">
                Company name is required
                </mat-error>
              </mat-form-field> &nbsp;&nbsp;&nbsp;
              <mat-form-field style="width: 31%;">
                <mat-label>Catch Phrase</mat-label>
                <input matInput placeholder="Catch Phrase" formControlName="catchPhrase">
                <mat-error *ngIf="empForm?.controls['catchPhrase'].hasError('required') || formSubmit">
                Catch Phrase is required
                </mat-error>
              </mat-form-field>&nbsp;&nbsp;&nbsp;
              <mat-form-field style="width: 31%;">
                <mat-label>Business</mat-label>
                <input matInput placeholder="Business" formControlName="bs">
                <mat-error *ngIf="empForm?.controls['bs'].hasError('required') || formSubmit">
                Business is required
                </mat-error>
              </mat-form-field>

              <div style="display: flex;padding: 4% 0 0 12%;">
                <button class="addbtn" (click)="addEmp()"  *ngIf="isAdd" style="cursor: pointer;">Add</button>
                <button class="addbtn" (click)="addEmp()" *ngIf="isEdit" style="cursor: pointer;">Update</button>
                </div>
        </form>
      </div>
    </div>
</div>
